{% extends "base.html" %}

{% block title %}This is a profile of {{user}} {% endblock %}

{% block content %}
  <div class="container">
    {% if form %} 
        <h1>Hey, got an idea? </h1>
        {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
    {% else %} 
        <h1> The profile of {{user_email}} </h1>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">Public list of ideas</div>
        {% if list_of_ideas.count() %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Description</th>
                    </tr>
                </thead>
                <tbody>
                  {% for idea in list_of_ideas %}
                      <tr><td>{{loop.index}}</td><td>{{idea.idea_name}}</td></tr>
                  {% endfor %}
                </tbody>
            </table>
        {% else %}
          <p>No ideas yet</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
